@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
}

.card {
	border-top: 0.5px;
	border-right: 3px;
	border-left: 0.5px;
	border-bottom: 3px;
	border-style: solid;
	border-color: black;
	transition: all 0.4s cubic-bezier(1, 0, 0, 1);
	backdrop-filter: blur(10px);
	@apply w-3/6 h-4/6 rounded-lg;
}

.card:hover {
	border-top: 3px;
	border-right: 0.5px;
	border-left: 3px;
	border-bottom: 0.5px;
	border-style: solid;
	border-color: black;
}

.imgbg {
	background-color: steelblue;
	background-image: url("./assets/react.svg");
}
